
body {
  background-color:DarkRed;
  color:GhostWHite;
}

h1 {
  text-align: center;
  background-color:#6aff00;
  color:black
}

th {
  color:GhostWHite;
}

td {
  color:GhostWHite;
}

.myDiv {
  width:125px;height:225px;  
}

.image {
   width:125px;height:150px;
}




