
body {
  background-color:DarkRed;
  color:GhostWHite;
}

h1 {
  text-align: center;
  background-color:#6aff00;
  color:black;
}

h1:hover {
  background-color:MediumSeaGreen
}

.parag {
  text-align: center;
}

th {
  color:GhostWHite;
}

td {
  color:GhostWHite;
}

.myDiv {
  width:325px;height:100px;
  text-align: center;
}

.image {
   width:125px;height:150px;
  
}




