
body{
  background-color:DarkRed;
  color:GhostWHite;
}

h1{
  text-align: center;
  background-color:#6aff00;
}

th{
  color:GhostWHite;
}

td{
    color:GhostWHite;
}

div{
  style=width:325;height:150;
}







